
table.forum_cats {
	width: 100%;
	margin-top: 10px;
}

table.forum_cats tr {
	border-bottom: 1px solid #ebebeb;
}

table.forum_cats tr:last-of-type {
	border-bottom: none;
}

table.forum_cats td {
	padding: 10px;
}

table.forum_cats tbody td {
	font-size: 1.2em;
}

table.forum_cats thead {
	background-color: #f8f8f8;
}
table.forum_cats tbody a {
	text-decoration: underline;
}

table.forum_cats tbody div {
	font-size: 0.75em;
}
.hidden {
	visibility:hidden;
}
